body {
  height: 100vh;
  background-color: #343a40;
}

.headline {
  font-family: 'Slackey', cursive;
  color: rgb(128, 48, 169);
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}

.average {
  color: white;
  text-shadow: -1px 1px 0 rgb(128, 48, 169), 1px 1px rgb(128, 48, 169), 1px -1px rgb(128, 48, 169), -1px -1px rgb(128, 48, 169);
}

.average span {
  text-shadow: none;
}

.add-button {
  background-color: rgb(139, 232, 58);
  color: black;
}

small {
  color: rgb(255, 47, 47);
  font-weight: bold;
}

.no-games {
  color: white;
}
